<link rel="stylesheet" href="/stylesheets/sign.css">

<div class="container rounded-pill text-center">
   <div class="col-md-6 offset-md-3 ">

      <form class="" method="post" action="/user/signin">
         <h1>Vhod for Babusa <3 </h1>
               <div class="mb-3 ">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp"
                     placeholder="babushka@rambler.ru">
               </div>
               <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password" id="exampleInputPassword1"
                     placeholder="Password nikomy ne govorite">
               </div>
               <button type="submit" class="btn btn-primary">Submit</button>
      </form>

   </div>

</div>
