*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #32bb7d;
  background: url(/Users/novyjpolzovatel/phase 2/weekends/custProject/Granny/public/stylesheets/images/diamond-bg.jpg);
  background-attachment: fixed;
  line-height: 1.4;
}

body {
  height: 100%;
}

a {
  color: #83a293;
  text-decoration: none;
}

a:hover {
  color: #56b591;
  text-decoration: underline;
}

input[type=text], input[type=password], textarea {
  color: #3e85b1;
}
.mar-t-5 {
  margin-top: 5em;
}
.pad-t-2 {
  padding-top: 2em;
}
.pad-b-4 {
  padding-bottom: 4em;
}
.pad-s-1 {
  padding-left: 1em;
  padding-right: 1em;
}
.bg-white {
  background-color: #fefefe;
}
.wrap-float {
  overflow: auto;
}
.max-w-700 {
  max-width: 700px;
}
.center {
  margin: 0 auto;
}
.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.mar-b-1 {
  
  margin-bottom: 1em;
}
.no-bullets {
  list-style-type: none;
}

.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}

.right {
  float: right;
}
.left {
  float: left;
}
.pipe-separate {
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1px solid;
}
.t-light-green {
  color: #32bb7d;
}
.logo-container {
  border: 5px solid #05724f;
  color: #05724f;
  width: 305px;
  height: 305px;
  border-radius: 50%;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}
  .logo {
  width:150px;
}
